* {
  margin: 0 auto;
  padding: 0;
}

.join_wrapper {
  margin: 25vh auto;
  width: 100vh;
}

.join_title {
  text-align: center;
  margin: 3vh auto;
  background-color: lightskyblue;
  width: 43vh;
  height: 8vh;
  color: white;
  border-radius: 5px;
}
.join_title span {
  font-weight: bold;
  font-size: 4vh;
}

.join_title p {
  color: lightpink;
}

.join_wrapper td {
  padding: 2vh;
  border-bottom: 1px solid lightgrey;
}

.join_submit {
  background-color: lightskyblue;
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  border: none;
  border-radius: 5px;
  color: white;
}
