@charset "UTF-8";
/* Contact */
#contact {
  background-color: var(--color-white);
}

.contact__tittle,
.contact__email,
.contact__address,
.contact__rights {
  color: var(--color-black);
}

.contact__tittle {
  margin: 26px 0;
  margin-bottom: 20px;
}

.contact__links {
  font-size: var(--font-medium);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-grey);
}
